@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans&family=Josefin+Sans:wght@100&family=Roboto+Mono:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(52 51 51);
}
.sidebar{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color:rgb(39 38 38);
    width: 200px;
    font-family: 'Fira Sans', sans-serif;
        height: 100vh;

   transition: transform 0.3s ease-in;
   z-index: 4;

}
.sidebar nav{
    padding: 30px;
    background-color:rgb(39 38 38);

    
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0px;
    
    background-color:rgb(39 38 38);
    color: white;
    

   
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:rgb(39 38 38);
    color: white;

    
}
.closesidebar{
    transform:translate(-443px,0px);
    position: absolute;
    background-color:rgb(39 38 38);

}
.Home-Containt{
    height: 100vh;
    width: 100vw;
  

}
.container{
    display: flex;
    

}
.main{
   
    height: max-content;
    width: 80vw;
    margin: 10vh auto;
    display: flex;
    justify-content:  space-around;
}
.home-info{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace;
    padding: 20px;
    border-bottom: 5px solid aquamarine;
    animation: fade 1.5s ease-in-out;
 
}
.Hello{
    font-size: 60px;
     
}
.name{
    font-size: 40px;
    font-weight: bold;
}
.about{
    font-size: 25px;
}
.buttons{
    margin-top: 34px;
}
.buttons a{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: aqua;
    font-weight: bold;
    text-decoration: none;
   
    margin: 0 3px;
    cursor: pointer;
    font-weight: bolder;
}

.buttons :hover{
    background-color: white;
    color: blue;
}


.main .home-pic img{
    height: 55vh;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 5px 10px 1000px 30px rgb(255, 255, 255);
    animation: fade 2s ease-in-out;
}

.hamburger{
    background-color:rgb(39 38 38);
    z-index: 10;
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    
  
}
#ham{
    color:white;
}
#close{
    margin-left:122px ;
    color:white;
    background-color: rgb(39 38 38);
    
}
.contact-form{
    background-color:rgb(39 38 38);
        color: white;
     border: 2px solid rgb(21, 21, 21);
    height: max-content;
    width: 60vw;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Fira Sans', sans-serif;
}
.contact-form h2,h1{
    background-color:rgb(39 38 38);

}
input[type=text],[type=number],[type=email],input[type=tel] ,select, textarea {
    background-color:rgb(39 38 38);
     color: #ffffff;
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
  }
  input[type=submit] {
    background-color: rgb(128, 124, 124);
    
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #b7b8b7;
    color: rgb(0, 0, 0);
  }
  .contactinfo{
    background-color:rgb(39 38 38);
color: goldenrod;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    font-size: x-large;
    
    
    
  
  }
  .morecontact{
    background-color:rgb(39 38 38);
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  
    
  }
  .logos{
    background-color:rgb(39 38 38);

    display: flex;
    justify-content: center;
      gap:5vw;
    flex-wrap: nowrap;
    
  }
  .logoinfo{
    background-color:rgb(39 38 38);

     color:goldenrod;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    font-size: x-small;
  }
  
  .logos a{
    background-color:rgb(39 38 38);


  }
.logos img{
    background-color:rgb(39 38 38);

    height: 4vh;
    width:4vw;
  
}
label, .contact-name,.email,.phone-number,.message,.submit {
    background-color:rgb(39 38 38);


}
.namelogo{
    position:absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}
.namelogo a{
    text-decoration: none;
     font-family: 'Fira Sans', sans-serif; 
     color: white;
     font-size: larger;
}
.sidebar nav ul li a.active{
    border-bottom: 3px solid red;
}


 .sidebar a:hover{
    border-bottom: 3px solid goldenrod;
}


@media(max-width:856px){
  .home-pic img{
    display: none;
  }
}

.cv img{
    max-width: 90%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.download{
    width: 40vw;
    background-color: rgb(6, 254, 225);
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}
.download a{
    color: white;
    font-weight: bold;
    background-color: rgb(6, 254, 225);
    
}
@media(max-width:856px){
  .home-pic img{
    display: none;
  }
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 3;
        transform: translate(0px);
    }
}